p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	@include font-size(1.25);
	font-family: $font__sec;
	font-weight: 400;
	max-width: 540px;
	padding: 0 0 0 60px;
	margin: 0 auto;
	border-width: 4px 0 4px 0;
	border-style: solid;
	border-color: $color__taupe;
	position: relative;

	@media #{$break-small} {
		@include font-size(1.625);
		padding: 0 100px;
	}

	@media #{$break-medium} {
		padding: 0 40px;
	}

	> * {
		margin: 1em 0;
	}

	&:before,
	&:after {
		color: $color__pumpkin;
		font-family: $font__sec;
		font-weight: 700;
		@include font-size(5);
		letter-spacing: 0.45px;
		line-height: 1;
		position: absolute;
		top: 13px;

		@media #{$break-small} {
			@include font-size(10);
			top: 0;
		}
	}

	&:before {
		content: '“';
		left: 0px;

		@media #{$break-medium} {
			left: -50px;
		}
	}

	&:after {
		content: '”';
		right: 0px;
		display: none;

		@media #{$break-small} {
			display: block;
		}

		@media #{$break-medium} {
			right: -50px;
		}
	}

	cite {
		margin-top: 40px;
		@include font-size(1);
		color: $color__jam;
		letter-spacing: 0.08px;
		text-align: center;

		@media #{$break-small} {
			@include font-size(1.25);
		}
	}
}

.wcus-blockquote {
	margin: 0 1.5em;
	background-color: $color__taupe;
	padding: 60px 90px;
	position: relative;

	&:before,
	&:after {
		color: $color__pumpkin;
		font-family: $font__sec;
		font-weight: 700;
		@include font-size(6.25);
		letter-spacing: 0.45px;
		line-height: 1;
		position: absolute;
	}

	&:before {
		content: '“';
		top: 50px;
		left: 20px;
	}

	&:after {
		content: '”';
		bottom: 0px;
		right: 20px;
	}

	p {
		&:last-child() {
			margin-bottom: 0;
		}
	}

	cite {
		margin-top: 40px;
		@include font-size(1.125);
		color: $color__jam;
		letter-spacing: 0.08px;
		text-align: center;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__code;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border-left: 5px solid $color__azure;
}

code, kbd, tt, var {
	background: $color__background-pre;
	font-family: $font__code;
	line-height: $font__line-height-pre;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}