/*--------------------------------------------------------------
## Content Widget Styles
--------------------------------------------------------------*/
.content-widgets-block {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.wcus-practical-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;

	a {
		&:hover, &:focus {
			+ figcaption {
				background: $color__robin_blue;
				color: $color__navy;

				&:before {
					left: 0;
				}

				&:after {
					left: 100%;
				}
			}
		}
	}

	figure {
		width: 48% !important;
		position: relative;

		@media #{$break-medium} {
			width: 23% !important;
		}
	}

	figcaption {
		font-size: 18px;
		font-size: 3.75vw;
		transition: background 0.25s ease-in;
		position: absolute;
		bottom: 0;
		left: 0;
		background: $color__jam;
		z-index: 2;
		width: 100%;
		margin: 0;
		padding: 10px;
		color: $color__white;
		text-transform: uppercase;
		overflow: hidden;

		@media #{$break-medium} {
			font-size: 22px;
			font-size: 1.75vw;
		}

		@media #{$break-large} {
			font-size: 22px;
		}

		&:before {
			transition: all 0.25s ease-in-out;
			content: '';
			width: 100%;
			height: 4px;
			background: $color__navy;
			position: absolute;
			bottom: 4px;
			left: -100%;
		}

		&:after {
			transition: all 0.25s ease-in-out;
			content: '';
			width: 100%;
			height: 4px;
			background: $color__squash;
			position: absolute;
			bottom: 4px;
			left: 0;
		}
	}
}

.wcus-calls {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;

	.wcus-callout {
		width: 100%;
		position: relative;
		margin-bottom: 10px;
		background: $color__navy;

		@media #{$break-medium} {
			width: calc(50% - 5px);

			&:nth-child(odd) {
				margin-right: 5px;
			}

			&:nth-child(even) {
				margin-left: 5px;
			}
		}

		a {
			text-decoration: none;
			display: block;
			overflow: hidden;
			text-align: center;

			&:hover, &:focus {
				img {
					transform: scale(1.25) rotate(2deg);
				}

				h3 {
					&:after {
						width: 100%;
					}
				}
			}
		}
		
		img {
			transition: transform 0.25s ease-in-out;
			z-index: 1;
			display: block;
		}

		.wcus-callout-title {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 10px;
		}

		h3 {
			font-size: 44px;
			font-size: 3.5vw;
			display: inline-block;
			text-align: center;
			z-index: 2;
			color: $color__white;			
			margin: 0;
			text-transform: uppercase;
			position: relative;

			@media #{$break-large} {
				font-size: 44px;
			}

			&:after {
				content: '';
				transition: width 0.25s ease-in;
				height: 10px;
				width: 0px;
				background-color: $color__squash;
				display: block;
				position: absolute;
				left: 0;
				bottom: 12px;
				z-index: -1;
			}
		}
	}
}

.wcus-textwidget-narrow {
	max-width: 800px;
	margin: 0 auto;
	position: relative;

	@media #{$break-small} {
		padding: 0 130px 0 20px;
	}

	h2{
		color: $color__azure;
		margin-bottom: 0;

		+ p {
			margin-top: 0;
		}
	}

	.alignright {
		position: absolute;
		top: 10px;
		right: 0;
	}
}