.site-footer {
    background-color: $color__navy;
    background-image: url('https://2018.wcus.wpengine.com/wp-content/uploads/sites/2/2018/08/footer-bg@2x.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url('https://jasonyingling.me/dev/svg/footer-arch.svg');
		background-repeat: no-repeat;
		background-position: center top; 
		background-size: 100%;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
	}

	> div {
		position: relative;
		z-index: 2;
	}

	.jetpack_subscription_widget,
	#custom_html-8 {
		background: $color__azure;

		.widget-title {
			margin: 10px 0 0;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

#footer-widgets {
    max-width: 1120px;
    margin: 0 auto;
}

#footer-widget-2 {
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		width: 100%;
		display: flex;
		justify-content: center;

		@media (max-width: 960px) and (min-width: 768px) {
			align-items: center;
		}

		@media #{$break-medium} {
			width: calc(33% - 20px);
			flex: 1 0 auto;

			&:nth-child(even) {
				width: calc(67% - 20px);
				flex: 0 1 auto;
			}
		}
	}
}

.site-info {
	background-color: $color__charcoal;
	color: $color__white;
	padding: 10px 20px;

	a {
		color: $color__white;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}

		&:after {
			content: '|';
			margin: 0 7px;
		}

		&:last-child {
			&:after {
				content: '';
			}
		}
		
	}
}

.wcb_widget_sponsors {
	background-color: $color__white_transparency;
	text-align: center;
	padding: 20px 20px 30px;

	@media #{$break-medium} {
		padding: 20px 60px 30px;
	}

	.sponsor-level {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.sponsor-level-title {
			width: 100%;
		}

		&.diamond {
			.sponsor-logo{
				width: 100%;

				@media #{$break-medium} {
					width: calc( 50% - 40px );
				}
				
			}
		}

		&.platinum {
			.sponsor-logo{
				width: calc( 50% - 20px );

				@media #{$break-medium} {
					width: calc( 33.333% - 40px );
				}
			}
		}

		&.gold {
			.sponsor-logo{
				width: calc( 33.333% - 20px );

				@media #{$break-medium} {
					width: calc( 25% - 40px );
				}
			}
		}

		&.silver {
			.sponsor-logo{
				width: calc( 25% - 20px );

				@media #{$break-medium} {
					width: calc( 20% - 40px );
				}
			}
		}

		&.digital {
			.sponsor-logo{
				width: calc( 20% - 20px );

				@media #{$break-medium} {
					width: calc( 16.67% - 40px );
				}
			}
		}

		.sponsor-logo {
			margin: 10px;
			display: flex;
			justify-content: center;
			padding: 10px 0;

			@media #{$break-medium} {
				margin: 10px 20px;
			}

			img {
				width: auto;
				max-height: 120px;
				align-self: center;
			}
		}
	}
}

.wcus-footer-social {
	display: flex;
	flex-direction: row;
	padding: 0 30px;
	color: $color__white;
	@include font-size(0.875);
	text-align: center;
	text-transform: uppercase;
	line-height: 1;

	@media (max-width: 960px) and (min-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}

	p {
		margin-bottom: 1em;
	}

	.wcus-footer-hashtag {
		font-family: $font__sec;
		display: block;
		@include font-size(2.5);

		a {
			color: $color__white;
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	.wcus-footer-logo {
		padding-right: 25px;
		display: flex;
		align-items: center;

		@media (max-width: 960px) and (min-width: 768px) {
			padding-right: 0;
		}

		svg {
			width: 100%;
			height: auto;
		}
	}

	.wcus-footer-icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	.wcus-social-button {
		width: 47px;
		height: 46px;
		background-size: auto 46px;
		margin: 0 3px;
	}

	.wcus-social-button--twitter {
		background-position: -60px 0;
	}

	.wcus-social-button--instagram {
		background-position: -119px 0;
	}
}