/*--------------------------------------------------------------
## Z-indexing
--------------------------------------------------------------*/
#header-widgets {
	z-index: 2;
}
// WCUS Nashville Badge
#media_image-5 {
	z-index: 2;
}

// Social Icons
#custom_html-3 {
	z-index: 3;
}

// CTA button
#custom_html-4 {
	z-index: 3;
}

/*--------------------------------------------------------------
## Header Widget Styles
--------------------------------------------------------------*/
#header-widgets {
	text-align: center;
	clear: both;
	padding-top: 30px;
	
	.home {
		padding-top: 30px;
	
		@media #{$break-small} {
			padding-top: 140px;
		}
	}

	section {
		&:first-child {
			img {
				box-shadow: 0 20px 18px 0 rgba(0,0,0,0.50);
			}
		}

		&:nth-child(2) {
			// CTA Button
			margin-top: -80px;
		}

		// Callout text
		&:nth-child(3) {
			@include font-size(1.125);
			line-height: 1.5;
			max-width: 540px;
			margin: -10px auto 0;
			background: $color__berry;
			color: $color__white;
			padding: 40px 20px 40px;

			@media #{$break-small} {
				padding: 70px 20px 50px;
			}
		}

		// Social Icons
		&:nth-child(4) {
			margin-top: -27px;
		}
	}
}

/*--------------------------------------------------------------
## Header Widget Area 5 - Swoop Image
--------------------------------------------------------------*/
#header-widget-5 .widget:last-child {
	margin-bottom: 0;
}

#header-widget-5 .widget img {
	display: block;
	margin-bottom: -1px;
}

/*--------------------------------------------------------------
## Jetpack Subscription Widget
--------------------------------------------------------------*/
.jetpack_subscription_widget,
#custom_html-8 {
	flex-direction: row;
	flex-wrap: wrap;
	color: $color__white;
	text-align: center;
	padding: 0 30px;
	max-width: 800px;
	margin: 0 auto;

	.widget-title {
		margin: 40px 0 0;
		font-weight: 400;
		text-transform: uppercase;
	}

	#subscribe-text {
		width: 100%;
		p {
			margin: 10px 0 3px;

			@media #{$break-small} {
				margin: 0 0 3px;
			}
		}
	}

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		#subscribe-email {
			flex: 1 0 auto;
			margin-bottom: 5px;

			@media #{$break-small} {
				margin-bottom: 24px;
			}

			input {
				width: 100%;
				border-radius: 100px;
				padding: 3px 10px;
			}
		}

		#subscribe-submit {
			flex: 0 1 auto;
			width: 100%;

			@media #{$break-small} {
				width: auto;
			}

			input[type="submit"] {
				@include font-size(0.875);
				font-family: $font__main;
				font-weight: 700;
				width: 100%;
				background-color: $color__robin_blue;
				color: $color__azure;
				height: 100%;
				border-radius: 100px;
				border: 0px;
				text-transform: uppercase;
				padding: 10px 40px 10px;

				@media #{$break-small} {
					margin-left: 8px;
					padding: 7px 40px 5px;
				}

				&:hover, &:focus {
					background-color: $color__white;
					color: $color__navy;
				}
			}
		}
	}
}