/*--------------------------------------------------------------
## Z-indexing
--------------------------------------------------------------*/
#header-widgets {
	z-index: 2;
}
// WCUS Nashville Badge
#media_image-5 {
	z-index: 2;
}

// Social Icons
#custom_html-3 {
	z-index: 3;
}

// CTA button
#custom_html-4 {
	z-index: 3;
}

/*--------------------------------------------------------------
## Header Widget Styles
--------------------------------------------------------------*/
#header-widgets {
	text-align: center;
	clear: both;
	padding-top: 140px;
}

/*--------------------------------------------------------------
## Header Widget Area 1
--------------------------------------------------------------*/
#media_image-5 img {
	box-shadow: 0 20px 18px 0 rgba(0,0,0,0.50);
}

// Social Icons
#custom_html-3 {
	margin-top: -27px;
}

// CTA Button
#custom_html-4 {
	margin-top: -80px;
}

// Callout text
#text-10 {
	@include font-size(1.125);
	line-height: 1.5;
	max-width: 540px;
	margin: -10px auto 0;
	background: $color__berry;
	color: $color__white;
	padding: 70px 20px 50px;
}

/*--------------------------------------------------------------
## Header Widget Area 5 - Swoop Image
--------------------------------------------------------------*/
#header-widget-5 .widget:last-child {
	margin-bottom: 0;
}

#header-widget-5 .widget img {
	display: block;
	margin-bottom: -1px;
}

/*--------------------------------------------------------------
## Jetpack Subscription Widget
--------------------------------------------------------------*/
.jetpack_subscription_widget,
#custom_html-8 {
	flex-direction: row;
	flex-wrap: wrap;
	color: $color__white;
	text-align: center;
	padding: 0 30px;
	max-width: 800px;
	margin: 0 auto;

	.widget-title {
		margin: 40px 0 0;
		font-weight: 400;
		text-transform: uppercase;
	}

	#subscribe-text {
		width: 100%;
		p {
			margin: 0 0 3px;
		}
	}

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		#subscribe-email {
			flex: 1 0 auto;

			input {
				width: 100%;
				border-radius: 100px;
				padding: 3px 10px;
			}
		}

		#subscribe-submit {
			flex: 0 1 auto;

			input[type="submit"] {
				font-family: $font__main;
				font-weight: 700;
				width: 100%;
				background-color: $color__robin_blue;
				color: $color__azure;
				height: 100%;
				border-radius: 100px;
				border: 0px;
				margin-left: 8px;
				text-transform: uppercase;
				padding: .6em 40px .4em;

				&:hover, &:focus {
					background-color: $color__white;
					color: $color__navy;
				}
			}
		}
	}
}