.blog {
	.site-main {
		background-color: $color__taupe;
		max-width: 1120px;
		margin: 30px -20px 50px;
		padding: 35px 20px 20px;

		@media #{$break-small} {
			margin: 30px auto 50px;
			padding: 35px 35px 20px;
		}

		&:before {
			content: 'Latest News';
			@include font-size(1.875);
			font-family: $font__sec;
			text-align: center;
			text-transform: uppercase;
			display: block;
			margin: 0 auto 25px;
		}

		article {
			position: relative;
			min-height: 327px;

			img {
				&:first-child {
					margin-bottom: 20px;
				}
			}

			@media #{$break-medium} {
				> * {
					padding-left: 50%;
					margin: 0;
					max-width: 100%;

					img {
						&:first-child {
							position: absolute;
							left: 0;
							top: 0;
							width: calc(50% - 25px);
						}
					}
				}
			}
			
		}

		.entry-title {
			@include font-size(1.5);
			font-family: $font__main;
			font-weight: 400;
			text-transform: uppercase;
			padding-top: 10px;
			margin-top: 0;
			margin-bottom: 0;
			
			a {
				color: $color__navy;
				text-decoration: none;

				&:hover, &:focus {
					color: $color__jam;
					text-decoration: underline;
				}

				&:visited {
					color: $color__azure;
				}
			}
		}

		.entry-meta {
			@include font-size(0.875);
			//position: absolute;
			//top: 10px;
			margin-bottom: 20px;

			a {
				color: $color__azure;
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: underline;
					color: $color__jam;
				}
			}

			time {
				text-transform: uppercase;
			}

			.byline {
				//display: none;
			}
		}

		.entry-content {
			margin-top: 0;

			> *:first-child {
				margin: 0;

				+ p {
					margin-top: 0;
				}
			}
		}

		.entry-footer {
			display: none;
		}

		.posts-navigation {
			@include font-size(0.875);
			margin: 15px 0 0 0;
			text-transform: uppercase;
		}
	}
}