.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.posted-on a {
	display: inline-block; /* Remove unwanted whitespace; see https://stackoverflow.com/a/10203529/450127 */
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include font-size(1.125);
	line-height: 1.5;
	
	> * {
		margin: 1.5em auto;
		max-width: 800px;
	}

	.alignfull {
		max-width: 100%;
	}

	.alignwide {
		max-width: 1120px;
	}
}

.entry-header,
.entry-footer {
	margin: 0 auto;
	max-width: 800px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}