.wcpt-schedule {
    &:not(.global-session) tr {

        & > td:nth-of-type(n + 2) {
            width: calc(100%/2);
            vertical-align: top;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }
        
        & > td:first-of-type, .sunday-schedule .wcpt-schedule tr > td.wcpt-time {
            width: 100px;

            @media screen and (max-width: 700px) {
                padding: 10px 20px;
            }
        }
    }
}

.sunday-schedule .wcpt-schedule tr > .wcb-track-contributor-day:not(.wcpt-time) {
    width: auto;
}

.wcpt-session-title {
    display: block;
    color: $color__charcoal;

    &:visited {
        color: $color__charcoal;
    }

    &:hover,
    &:focus {
        color: $color__jam;
    }
}

.wcpt-session-speakers {
    @include font-size(0.875);
    display: block;
    
    a {
        color: $color__charcoal;

        &:visited {
            color: $color__charcoal;
        }

        &:hover,
        &:focus {
            color: $color__jam;
        }
    }
}