.main-navigation {
	#primary-menu {
		@include font-size(1.25);
		max-width: 1120px;
		font-family: $font__main;
		font-weight: 700;
		background: $color__robin_blue;
		margin: 0 auto;
		padding: 0 30px 20px;

		@media #{$break-small} {
			@include clearfix;
			padding: 0 30px 0;
		}

		li {
			margin-bottom: 0;
			
			&:hover, &.focus {
				background: $color__white;

				> a {
					color: $color__azure;
				}
			}

			a {
				color: $color__charcoal;

				&:hover, &.focus {
					color: $color__azure;
				}
			}
		}

		> li {

			&.menu-item-has-children {
				&:hover, &.focus {
					> a {
						color: $color__azure;
						
						&:after {
							background-position: 0 -6px;
							transform: rotate(-180deg);
						}
					}
				}

				> a {
					&:after {
						transition: transform 0.25s ease-in;
						content: '';
						background-image: url('/wp-content/uploads/sites/2/2018/07/dropdown-arrow.png');
						background-size: 100%;
						background-position: 0 0px;
						background-repeat: no-repeat;
						width: 10px;
						height: 6px;
						display: block;
						float: right;
						margin-top: 10px;
						margin-left: 10px;
					}
				}
			}

			> a {
				text-transform: uppercase;
				padding: 10px 20px;

				@media #{$break-small} {
					padding: 25px 20px;
				}

				&:hover, &.focus {
					background: $color__white;
				}
			}
		}

		.sub-menu {
			@include font-size(1.125);
			padding: 0px 20px 10px;
			font-weight: 400;

			@media #{$break-small} {
				padding: 10px 20px 20px;
			}
		}
	}
}

.page-navigation-container {
	clear: both;
	display: block;
	width: 100%;
	float: left;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: none;

		li {
			&:before {
				display: none;
			}
		}

		ul {
			padding: 10px 20px 20px;
		}
	}

	@media #{$break-small} {
		ul {

			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 80px;
				left: -999em;
				z-index: 99999;
				padding: 10px 20px 20px;
				background: $color__white;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
	}

	li {
		position: relative;

		@media #{$break-small} {
			float: left;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.page-navigation-container.toggled-on ul {
	display: block;
}

.toggled-on {
	.menu-toggle {
		&:after {
			background-position: 0 -6px;
			transform: rotate(-180deg);
		}
	}
}

.menu-toggle,
.dropdown-toggle {
  @include font-size(1.25);
  font-weight: 700;
  display: none;
  background-color: $color__robin_blue;
  width: 100%;
  border: 0px;
  border-radius: 0;
  text-transform: uppercase;

  	&:after {
		transition: transform 0.25s ease-in;
		content: '';
		background-image: url('http://2018.wcus.wpengine.com/wp-content/uploads/sites/2/2018/07/dropdown-arrow.png');
		background-size: 100%;
		background-position: 0 0px;
		background-repeat: no-repeat;
		width: 10px;
		height: 6px;
		display: block;
		float: right;
		margin-top: 5px;
		margin-left: 0px;
	}
}

.dropdown-toggle {
	// width: auto;
	// height: 44px;
	// position: absolute;
	// top: 50%;
	// right: 0;
	// margin-top: -22px;

	// &:after {
	// 	transition: transform 0.25s ease-in;
	// 	content: '';
	// 	background-image: url('http://2018.wcus.wpengine.com/wp-content/uploads/sites/2/2018/07/dropdown-arrow.png');
	// 	background-size: 100%;
	// 	background-position: 0 0px;
	// 	background-repeat: no-repeat;
	// 	width: 10px;
	// 	height: 6px;
	// 	display: block;
	// 	float: right;
	// 	margin-top: 0px;
	// 	margin-left: 0px;
	// }

	// &.toggled-on {
	// 	background-color: $color__white;

	// 	&:after {
	// 		background-position: 0 -6px;
	// 		transform: rotate(-180deg);
	// 	}
	// }
}

.js .menu-toggle,
.js .dropdown-toggle {
  display: block;
}

.js .dropdown-toggle {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}
	.page-navigation-container ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	max-width: 800px;

	.site-main & {
		margin: 0 auto 1.5em;
		overflow: hidden;
	}

	.nav-previous,
	.nav-next {
		&:before {
			display: block;
			@include font-size(.875);
			color: $color__dark_gray;
		}
	}

	.nav-previous {
		&:before {
			content: 'Previous';
		}

		@media #{$break-small} {
			float: left;
			width: 50%;
			max-width: 320px;
			padding-right: 20px;

			&:before {
				content: '';
			}
		}
	}

	.nav-next {
		&:before {
			content: 'Next';
		}

		@media #{$break-small} {
			float: right;
			text-align: right;
			width: 50%;
			max-width: 320px;
			padding-left: 20px;

			&:before {
				content: '';
			}
		}
	}
}
